@charset "utf-8";
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body,
body a,
body button {
  font-family: "NanumSquareNeo-Variable";
  color: var(--main-c1);
}

.mw {
  width: calc(100% - 2rem);
  max-width: 1300px;
  margin: auto;
}

:root {
  font-size: 16px;
  --main-c1: #000055;
  --main-c2: #f5005b;
  --sub-c1: #838383;
  --sub-c2: #ffffff;
  --bg-c: #fbf5f0;
}

main {
  overflow: hidden;
}

/***** 플로팅 메뉴 ******/
.f_menu {
  z-index: 900;
  display: flex;
  position: fixed;
  flex-direction: column;
  right: 1rem;
  top: 50%;
  font-size: 2rem;
  text-align: center;
}

.f_menu a {
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  background-color: var(--sub-c2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.f_menu a:nth-of-type(2) {
  display: flex;
  top: 5rem;
  font-size: 1.75rem;
}

/****** 헤더 ******/
.hd {
  z-index: 9999;
}

.hd_top {
  /* border: 1px solid red; */
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
}

.hd_top .login a {
  padding: 0 0.5rem;
}

.hd_top button {
  background-color: transparent;
  border: transparent;
  font-size: 0.75rem;
  color: var();
}

.hd_top .login a:hover {
  color: var(--main-c2);
}
.hd_top button:hover {
  color: var(--main-c2);
}

.hd_bottom {
  /* border: 1px solid blue; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd_bottom img {
  width: 70%;
}

.hd_bottom .gnb {
  /* border: 1px solid green; */
  position: relative;
  display: flex;
  text-align: center;
  font-size: 20px;
}

.hd_bottom .gnb a:hover {
  color: var(--main-c2);
  font-weight: bold;
}

.hd_bottom .gnb > li:hover::before {
  content: "";
  background-color: var(--main-c2);
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.hd_bottom .gnb > li {
  padding: 0 0.5rem;
}

.hd_bottom .sub {
  /* border: 1px solid red; */
  position: absolute;
  font-size: 1rem;
  display: flex;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}

.hd_bottom .gnb > li:hover .sub {
  height: 1.5rem;
}

.hd_bottom .sub a {
  padding: 1rem;
}

.hd_bottom .bar {
  display: none;
}

/****** 섹션1 *******/

.sec1 {
  margin: 0 0 5% 0;
}

.sec1 .next1,
.sec1 .prev1 {
  color: var(--sub-c2);
  width: 10rem;
}

/****** 섹션2 *******/

.sec2 {
  display: flex;
}

.sec2 .con {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sec2 .con div {
  margin-right: 1rem;
  width: 25%;
}

.sec2 .con span {
  display: block;
  text-align: center;
}

.sec2 .con span:first-of-type {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec2 a {
  /* border: 1px solid lawngreen; */
  position: absolute;
  width: 75%;
  height: 100%;
  color: transparent;
}

/****** 섹션3 *******/

.sec3 {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.sec3 .slide_2 {
  /* border: 1px solid blue; */
  margin-left: 3vw;
  width: 30vw;
}

.sec3 .swiper-slide img {
  border-radius: 20px;
}

.sec3 .next2,
.sec3 .prev2 {
  color: var(--sub-c2);
}

.sec3 .tab_hd {
  display: flex;
  /* border: 1px solid red; */
}

.sec3 .tab_hd button:hover {
  color: var(--main-c2);
}

.sec3 .tab_hd button.on {
  font-size: 1rem;
  border: transparent;
  background-color: var(--bg-c);
  width: 100px;
  height: 35px;
  cursor: pointer;
  border-radius: 20px 20px 0 0;
}

.sec3 .tab_hd button {
  font-size: 1rem;
  border: transparent;
  background-color: var(--sub-c1);
  width: 100px;
  height: 35px;
  border-radius: 20px 20px 0 0;
}

.sec3 .tab_menu {
  background-color: var(--bg-c);
  display: none;
}

.sec3 .tab_menu.on {
  display: block;
  background-color: var(--bg-c);
  width: 440px;
  height: 440px;
}

.sec3 .tab_menu.on {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sec3 .tab_menu.on ul li {
  /* border: 1px solid blue; */
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab_menu.on ul li a {
  /* border: 1px solid red; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab_menu.on ul li a:hover {
  color: var(--main-c2);
  text-decoration: underline;
}

.sec3 .fa-plus {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.sec3 .fa-plus:hover {
  color: var(--main-c2);
}

/****** 섹션4 ******/
.sec4 {
  background-color: var(--main-c1);
  margin-top: 5%;
  height: 100px;
  color: var(--sub-c2);
}

.sec4 div {
  position: relative;
  top: 25%;
  text-align: center;
  font-size: 2rem;
}

.sec4 strong {
  color: var(--main-c2);
}

/***** 섹션5 ******/

.sec5 .slide_3 {
  /* border: 1px solid red; */
  margin-top: 5%;
  position: relative;
}

.sec5 .swiper-slide {
  /* border: 1px solid blue; */
  border-radius: 20px;
  background-color: var(--bg-c);
  height: 40vh;
  text-align: center;
  overflow: hidden;
}

.sec5 .slide_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sec5 .slide_inner > div {
  /* border: 3px solid green; */
  display: flex;
  position: relative;
  top: -5rem;
  overflow: hidden;
}

.sec5 .slide_inner > div img {
  transform: translateY(20%);
}

.sec5 .slide_inner p {
  position: relative;
  top: -1.5rem;
}

.sec5 .slide_inner > p:first-of-type {
  /* border: 2px solid lightcoral; */
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sec5 .slide_inner > p:last-of-type {
  font-size: 14px;
  padding-top: 1rem;
  color: var(--main-c2);
}

.sec5 .slide_inner ~ a {
  background-color: transparent;
  color: transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 440px;
  height: 500px;
}

.slide_3 .next3,
.slide_3 .prev3 {
  color: var(--sub-c2);
}

/***** 푸터 ******/

footer {
  background-color: var(--bg-c);
}

footer .f_top {
  background-color: #000055;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.f_top > a {
  font-size: 100%;
  color: var(--sub-c2);
  padding: 0 1rem;
  position: relative;
}

.f_top > a:hover {
  color: var(--main-c2);
}

.f_top > a::after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -2px;
  width: 2px;
  height: 15px;
  background-color: var(--sub-c2);
}

.f_top > a:first-of-type:after {
  display: none;
}

.f_bottom {
  /* border: 1px solid red; */
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--sub-c1);
}

.f_bottom .con1 .use p:first-of-type {
  font-size: 1.5rem;
}

.f_bottom .con1 p {
  font-size: 14px;
}

.f_bottom .con1 strong {
  font-weight: bold;
}

.f_bottom .con1 .bank {
  margin-top: 1rem;
  flex-direction: column;
}

.f_bottom .con1 .bank img {
  width: 70%;
}

.f_bottom .con1 .bank div:last-of-type {
  /* border: 1px solid blue; */
  display: flex;
  text-align: center;
}

.f_bottom .con1 .bank div:last-of-type p {
  font-size: 14px;
}

.f_bottom .con2 .add {
  font-size: 14px;
}

.f_bottom .ascro {
  display: flex;
}

.f_bottom .ascro div:first-of-type {
  width: 70%;
}

.f_bottom .ascro .booth {
  border: 1px solid var(--main-c2);
  background-color: var(--main-c1);
  color: var(--main-c2);
  position: relative;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  transition: 0.3s;
}

.f_bottom .ascro .booth:hover {
  border: 1px solid var(--main-c1);
  background-color: var(--main-c2);
  color: var(--main-c1);
}

.f_bottom .ascro .booth p {
  /* border: 1px solid red; */
  position: relative;
  top: 10px;
  left: 14px;
  width: 70px;
}

/* sns 아이콘 */
.snb_icon {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 3%;
  justify-content: center;
}

@media (max-width: 700px) {
  /* 플로팅메뉴 */
  .f_menu {
    display: none;
  }

  /* 헤더 */
  .hd .gnb {
    display: none;
  }

  .hd .bar {
    display: block;
  }

  .sec2 {
    flex-direction: column;
  }

  /* 섹션2 */
  .sec2 .con {
    margin: 1rem 0;
  }

  /* 섹션3 */
  .sec3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec3 .slide_2 {
    /* border: 1px solid red; */
    width: 70vw;
    margin: 5rem 0;
  }

  .sec3 .tab_menu.on {
    width: 400px;
    height: 300px;
  }

  /* 섹션4 */

  .sec4 div p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
  }

  /* 섹션5 */
  .sec5 .slide_3 {
    /* border: 1px solid red; */
    margin-top: 5%;
    position: relative;
  }

  .sec5 .swiper-slide {
    height: 55vh;
  }

  /* 푸터 */

  footer .f_bottom {
    flex-direction: column;
    justify-content: center;
  }

  footer .snb_icon {
    flex-direction: row;
  }

  footer .snb_icon img {
    width: 10vw;
  }
}
