@charset "utf-8";
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body,
body a {
  font-family: "NanumSquareNeo-Variable";
  color: var(--main-c1);
}

.mw {
  width: calc(100% - 2rem);
  max-width: 1300px;
  margin: auto;
}

:root {
  font-size: 16px;
  --main-c1: #000055;
  --main-c2: #f5005b;
  --sub-c1: #838383;
  --sub-c2: #ffffff;
  --bg-c: #fbf5f0;
}

/***** 플로팅 메뉴 ******/
.f_menu {
  display: none;
}

/****** 헤더 ******/
.hd {
  z-index: 9999;
}

.hd_top {
  /* border: 1px solid red; */
  height: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.75rem;
}

.hd_top .login a {
  padding: 0 0.5rem;
}

.hd_top button {
  background-color: transparent;
  border: transparent;
  font-size: 0.75rem;
  color: var();
}

.hd_top .login a:hover {
  color: var(--main-c2);
}
.hd_top button:hover {
  color: var(--main-c2);
}

.hd_bottom {
  /* border: 1px solid blue; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd_bottom img {
  width: 70%;
}

.hd_bottom .gnb {
  /* border: 1px solid green; */
  position: relative;
  display: flex;
  text-align: center;
  font-size: 20px;
}

.hd_bottom .gnb a:hover {
  color: var(--main-c2);
  font-weight: bold;
}

.hd_bottom .gnb > li:hover::before {
  content: "";
  background-color: var(--main-c2);
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.hd_bottom .gnb > li {
  padding: 0 0.5rem;
}

.hd_bottom .sub {
  /* border: 1px solid red; */
  position: absolute;
  font-size: 1rem;
  display: flex;
  height: 0;
  overflow: hidden;
  transition: 0.2s;
}

.hd_bottom .gnb > li:hover .sub {
  height: 1.5rem;
}

.hd_bottom .sub a {
  padding: 1rem;
}

.hd_bottom .bar {
  display: none;
}

/****** 섹션1 *******/

.sec1 {
  margin: 0 0 5% 0;
}

.sec1 .next1,
.sec1 .prev1 {
  color: var(--sub-c2);
  width: 10rem;
}

/****** 섹션2 *******/

.sec2 {
  display: flex;
}

.sec2 .con {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sec2 .con div {
  margin-right: 1rem;
  width: 25%;
}

.sec2 .con span {
  display: block;
  text-align: center;
}

.sec2 .con span:first-of-type {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sec2 a {
  /* border: 1px solid lawngreen; */
  position: absolute;
  width: 75%;
  height: 100%;
  color: transparent;
}

/****** 섹션3 *******/

.sec3 {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.sec3 .slide_2 {
  /* border: 1px solid blue; */
  margin-left: 3vw;
  width: 30vw;
}

.sec3 .swiper-slide img {
  border-radius: 20px;
}

.sec3 .next2,
.sec3 .prev2 {
  color: var(--sub-c2);
}

.sec3 .tab_menu {
  margin-right: 3vw;
}

/****** 섹션4 ******/
.sec4 {
  background-color: var(--main-c1);
  margin-top: 5%;
  height: 100px;
  color: var(--sub-c2);
}

.sec4 div {
  position: relative;
  top: 25%;
  text-align: center;
  font-size: 2rem;
}

.sec4 strong {
  color: var(--main-c2);
}

/***** 섹션5 ******/

.sec5 .slide_3 {
  border: 1px solid red;
  margin-top: 5%;
}

.sec5 .swiper-slide {
  border: 1px solid blue;
  border-radius: 20px;
  background-color: var(--bg-c);
  height: 40vh;
  overflow: hidden;
  text-align: center;
}

.sec5 .slide_inner > div {
  border: 3px solid green;
  display: flex;
  transform: translateY(-25%);
  overflow: hidden;
}

.sec5 .slide_inner > div img {
  transform: translateY(20%);
}

.sec5 .slide_inner > p:first-of-type {
  border: 2px solid lightcoral;
}

/***** 임시 ******/
footer {
  display: none;
}
